@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    
}

.main{
    max-width: 100vw;
    min-height: 90vh;
    position: relative;
    color: white;   
    overflow-x: hidden; 
    
}

.responsive{
    min-width: 100%;
    min-height: 100%;
    z-index:1;

}

.upper-text{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 8% 1% 8%;
    
}
header{
    width: 100%;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.page-links, .social-links{
    list-style: none;
}


.page-links li, .social-links li{
    display: inline;
    margin: 20px;
}

.page-links li a{
    text-decoration: none;
    padding: 3px 0px;
    color: white;
}


.page-links li a:hover  {
    border-bottom: 2px solid #E55504;
}

.social-links li{
    margin: 14px;
    font-size: 1.2rem;  
    cursor: pointer; 
}

.social-links li i:hover{
    color:#E55504;
}

.intro-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;

}
.intro-text h1{
    font-size: 3rem;
    width: 70%;
}
.intro-text h1 span{
    color:  #E55504;
}

.intro-text p{
    font-weight: 200;
    width: 600px;
    margin: 20px 0px;
}

.intro-text button{
    border: none;
    outline: 1px solid white;
    background: transparent;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}


.intro-text button:hover{
    background: #E55504;
    outline: none;
}

@media screen and (max-width: 960px) {

    .upper-text{
        padding: 10px;
    }

    .page-links{
        text-align: center;
        padding: 0px 50px;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }


    .page-links.active{ 
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
    }

    .social-links{
        opacity: 0;
        pointer-events: none;
    }
    .intro-text{
        margin-top: 90px;
    
    }
    .intro-text h1{
        font-size: 2.2rem;
        width: 100%;
    }

    .intro-text p{
        font-weight: 200;
        width: 95%;
        margin: 20px 0px;
    }


}

/*About Section*/


.about-div{
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 8% 1% 8%;
}

.about-txt-container{
    width: 600px;
    padding-right: 40px;
}
.about-txt-container h1{
    font-weight: 600;
}

.about-txt-container p{
    font-weight: 300;
    
    margin: 20px 0px;
    font-size: 0.95rem;

}


.about-img-container img{
    height: 345px;
    width: 440px;

}


.about-txt-container button{
    border: none;
    outline: 1px solid#E55504;
    background: transparent;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    color:#E55504;

}

.about-txt-container button:hover{
    background: #E55504;
    outline: none;
    color: white;

}
.about-box-container{
    display: flex;
    margin-top: 20px;

}

.about-box-container .box{
    width:100px;
    height: 80px;
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
    margin-right: 30px;
}


@media screen and (max-width: 1140px) {

    .about-img-container img{
        height: 345px;
        width: 440px;
    
    }
    
}